@model IEnumerable<Prueba.APP.Models.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
}
<h2>Index</h2>
<div class="row">
    <div class="card shadow mb-4">
        <div class="card-header">Products</div>
        <div class="card-body"></div>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create", new { @class = "btn btn-primary btn-md" })
</p>
<table id="tableProducts" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeaturedCharacteristics)
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeaturedCharacteristics)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class = "btn btn-primary btn-md" }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn btn-success btn-md"}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-danger btn-md" })
        </td>
    </tr>
}

</table>

@section scripts{
    <script src="~/Scripts/DataTable/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Site/Product/ProductIndex.js"></script>
}
